h1, p, h2 {
  color: #cccc00;
}
{
  background-color: #ffff99;
}
p { font-size: 15px;
}
div, h1, h2, p { text-align: center;
}
html { font-family: Arial, Times, Serif;
}
.headline {
  color: black;
}
.services { background-color: white;
  padding: 20px 20px
}
.services ul {
  display: flex;
  list-style-type: none;
    padding-left: 0;

}
.services ul li {
  padding: 0 10px;
  flex: 1;

}

.Whoweare ul {
  display: flex;
  list-style-type: none;
    padding-left: 0;

.Whoweare ul li {
      padding: 0 10px;
      flex: 1;
    }

    .Whoweare { background-color: white;
      padding: 20px 20px

    }
